/*
Theme Name: Lili Blog
Theme URI:  https://www.thememiles.com/themes/lili-blog/
Author: thememiles
Author URI: https://www.thememiles.com/
Description: Lili Blog is a clean and minimal blog theme for perfect for writers who need to create personal blog site with simple creative features and effects to make readers feel the pleasure of reading blog posts and articles, Lili Blog theme mixes between modern, classic and minimal styles and will help you create a simple and clean blog, if you are a blogger, then it’s a perfect choice for you if you don’t need to have any experiment to setup your Wordpress personal blog, it’s super simple and easy to setup, you will get high quality, responsive, well crafted blog out of the box to make writers only focuses on writing content, and it has great typography to make your fans and followers focus on every word you write. This theme has search option, off-canvas sidebar, multiple sidebar options, footer options, featured slider, footer widgets and many more. Besides that, this theme comes with added custom widgets for author information, featured posts, social icons, etc. It comes with primary color option to change the whole site color with a single click.
Version: 0.0.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: lili-blog
Requires PHP: 5.5
Tested up to: 5.5
Tags: custom-background, custom-header, one-column, two-columns, three-columns, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready, blog, news
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize
2.0 Typography 
3.0 Accessibility 
4.0 Alignments 
5.0 Clearings
6.0 Forms 
7.0 Lists
8.0 Tables
9.0 Links 
10.0 Navigation
11.0 Layout
   - Header 
   - Footer
12.0 Widgets
13.0 Comments
14.0 Content
15.0 Media 
16.0 Animations 
17.0 Extras 

--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}

body p{text-align: justify;}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure,
main {
    display: block;
}

figure {
    margin: 0 0 20px;
}

hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: 1px #767676 dotted;
    text-decoration: none;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: 700;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #eee;
    color: #222;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.4;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    border: 1px solid #bbb;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}


/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/

body{
    font-family: 'Montserrat', sans-serif;
    color: #4c4f53; 
    font-size: 15px;   
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Lustria', serif;
}  

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    font-weight: 500;
    word-break: break-word;
}

h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a{
    color: #2b2b2b;
}


h1 {
    margin-bottom: 20px;
    font-size: 30px;  
}

h2{ 
    margin-bottom: 15px;
    font-size: 28px; 
}

h3 {
    margin-bottom: 15px; 
    font-size: 24px; 
}

h4, .widgettitle { 
    margin-bottom: 15px;
    font-size: 22px;  
}

h5, .site-footer .widget-title{ 
    margin-bottom: 10px;
    font-size: 18px; 
}

h6 { 
    margin-bottom: 10px;
    font-size: 16px; 
}

p {
    margin: 0 0 1.5em;
    padding: 0;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    border-left: 3px solid #ddd;
    margin: 40px 30px;
    padding: 0 30px 0 30px;
    color: #666;
    font-size: 18px; 
    font-style: italic;    
    overflow: hidden;    
}

blockquote cite {
    display: block;
    font-style: normal;
    font-weight: 600;
    margin-top: 0.5em;
}

address {
    margin: 0 0 1.5em;
}

pre,
code,
kbd,
tt,
var {
    font-family: 'Cutive Mono', monospace;
    font-size: 18px;
}

pre {
    border: 1px solid #d1d1d1;
    margin: 0 0 1.75em;
    max-width: 100%;
    overflow: auto;
    padding: 1.75em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code {
    background-color: #d1d1d1;
    padding: 0.125em 0.25em;
}

code,
kbd,
tt,
var {  
    font-size: 1.2rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #eee;
    text-decoration: none;
}

big {
    font-size: 125%;
}

blockquote {
    quotes: "" "";
}

q {
    quotes: "“" "”" "‘" "’";
}

blockquote:before,
blockquote:after {
    content: "";
}
 
.post-cats{
    word-break: break-all;
}

.entry-meta{
    font-size: 80%;
    letter-spacing: 0.07em;
}

footer {
    font-size: 90%;
}

footer.site-footer , footer.site-footer a, .site-footer ul.social-menu li a:before{
    color: #f3f3f3;
}


/****------ text white ---***/

.author-profile ul.social-links li a i:hover,
.sch-btn:hover, .site-footer .widget-title,
.banner-slider .entry-post a, .banner-slider .posted-on a, .banner-slider .posted-on,
.text-white{ 
    color: #fff;
}


/*--------------------------------------------------------------
3.0 Accessibility
--------------------------------------------------------------*/ 

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; 
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

a:focus, h2.archive-title:focus, h2.archive-title:visited {
    outline: thin dotted!important;
    
}
ul li a:focus ~ ul {
    display: block;
    visibility: visible;
    opacity: 1;
    left: auto;
    animation: fadeinUp .3s;
   
}
ul li:focus-within > ul {
    display: block;
    opacity: 1;
    visibility: visible;
    left: auto;
    animation: fadeinUp .3s;
    
}

.sch-btn:focus,.sch-btn:focus-within{
    outline:thin dotted}
    

ul.nav-menu li:focus-within>.sub-menu  {
                               opacity: 1;
                                    visibility: visible;

                                   
                                
                            }
.sch-btn:focus,.sch-btn:focus-within,.hamburger:focus,.hamburger:focus-within,.toggle-menu:focus-within{ 
    outline:thin dotted #fff !important}
    
.sch-btn:focus-within .search-box{
	display:block;
}
.social-menu li:focus-within a::before { 
    outline:thin dotted #000 !important}
 

/*--------------------------------------------------------------
4.0 Alignments
--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignnone {
    margin: 0 0 20px;
    padding: 5px 0 0;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
 

/*--------------------------------------------------------------
5.0 Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.entry-footer:before,
.entry-footer:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after, 
.comment-author:before,
.comment-author:after,
.widget-area:before,
.widget-area:after,
.widget:before,
.widget:after,
.comment-meta:before,
.comment-meta:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.entry-footer:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.nav-links:after,
.pagination:after,
.comment-author:after,
.widget-area:after,
.widget:after,
.comment-meta:after {
    clear: both;
}
 

/*--------------------------------------------------------------
6.0 Forms
--------------------------------------------------------------*/

label {
    color: #333;
    display: block;
    font-weight: 800;
    margin-bottom: 0.5em;
}

fieldset {
    margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
    color: #666;
    background: #fff;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    padding: 0.5em;
    width: 100%;
    font-weight: normal;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    outline: none;
    color: #222;
    border-color: #cecece;
} 

input[type="radio"],
input[type="checkbox"] {
    margin-right: 0.5em;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    font-weight: 400;
}

button,
input[type="button"],
input[type="submit"] {
    background-color: #585858;
    border: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;  
    line-height: 1;
    padding: 0.76em 1.5em;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

.site-footer input[type='submit']:hover{
    background-color: #4e4e4e;
}

.newsletter input[type="text"], .newsletter input[type="email"], .newsletter input[type="submit"], .newsletter button[type="submit"]{
    border-radius: 20px; 
    border: 0px;
    padding: 10px 20px;
    margin: 0 5px;
}


.site-footer .newsletter input[type="submit"] {
    background: #585858;
    padding: 13px 30px;
}

.site-footer .newsletter input[type="submit"]:hover{
    background-color: #000;
}


/* Placeholder text color -- selectors need to be separate to work. */

::-webkit-input-placeholder {
    color: #a9a9a9; 
}

:-moz-placeholder {
    color: #a9a9a9; 
}

::-moz-placeholder {
    color: #a9a9a9; 
}

:-ms-input-placeholder {
    color: #a9a9a9; 
}

/*---------- placeholder on focus --------*/

:focus::-webkit-input-placeholder{
    color: transparent;
}

:focus:-moz-placeholder{
    color: transparent;
}

:focus::-moz-placeholder{
    color: transparent;
    opacity: 1;
}

:focus:-ms-input-placeholder{
    color: transparent;
} 


.search-form label{
    margin: 0;
    font-weight: normal; 
}

.search-form{
    position: relative;
}

.search-form .search-submit{
    position: absolute;
    right: 0;
    top: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-top-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
}


/*--------------------------------------------------------------
7.0 Lists
--------------------------------------------------------------*/

ul,
ol {
    margin: 0 0 1.5em 1.5em; 
    padding: 0;
}


ul li{
    list-style: disc;   
}

ol {
    list-style: decimal;
}

ol li, ul li{
     margin-bottom: 8px;
}

ul li:last-child, ol li:last-child{
    margin-bottom: 0px;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 1.5em 1.5em;
}


/*--------------------------------------------------------------
8.0 Tables
--------------------------------------------------------------*/

table {
    border-collapse: collapse;
    margin: 0 0 1.5em;
    width: 100%;
}

thead th {
    border-bottom: 2px solid #bbb;
    padding-bottom: 0.5em;
}

th {
    padding: 0.4em;
    text-align: left;
}

tr {
    border-bottom: 1px solid #eee;
}

td {
    padding: 0.4em 0.65em;
}

th:first-child,
td:first-child {
    padding-left: 11px;
}

th:last-child,
td:last-child {
    padding-right: 0;
}


/*--------------------------------------------------------------
9.0 Links
--------------------------------------------------------------*/

a{
    color: #545454;
    text-decoration: none;
}  

a:hover,
a:active {
    color: #000;
    outline: 0;
    text-decoration: none;
}

ul.social-menu, 
.header-top ul.menu,
.nav-menu, .footer-menu,
.social-menu ul{
    margin :0; 
    padding: 0;
}

.footer-menu li + li:before{
    display: inline-block;
    content: "|";
    margin: 0 10px;
    opacity: 0.5;
}

ul.social-menu li, .footer-menu li {
    display: inline; 
}

ul.social-menu li a {
    font-size: 0;
    color: transparent; 
}

ul.social-menu li a:hover {
    color: #54be73
}

ul.social-menu li:last-child {
    margin-right: 0;
}

ul.social-menu li a:before {
    content: "";
    font-family: FontAwesome, sans-serif;
    font-size: 14px; 
    line-height: 1;
    color: #68686d;  
}

ul.social-menu li + li{
    margin-left: 15px;
}

ul.social-menu li:hover a:before{
    opacity: .6;
}
ul.social-menu li a[href*="facebook.com"]:before {
    content: "\f09a";
}

ul.social-menu li a[href*="twitter.com"]:before {
    content: "\f099";
}

ul.social-menu li a[href*="linkedin.com"]:before {
    content: "\f0e1";
}

ul.social-menu li a[href*="plus.google.com"]:before {
    content: "\f0d5";
}

ul.social-menu li a[href*="youtube.com"]:before {
    content: "\f167";
}

ul.social-menu li a[href*="dribbble.com"]:before {
    content: "\f17d";
}

ul.social-menu li a[href*="pinterest.com"]:before {
    content: "\f0d2";
}

ul.social-menu li a[href*="bitbucket.org"]:before {
    content: "\f171";
}

ul.social-menu li a[href*="github.com"]:before {
    content: "\f113";
}

ul.social-menu li a[href*="codepen.io"]:before {
    content: "\f1cb";
}

ul.social-menu li a[href*="flickr.com"]:before {
    content: "\f16e";
}

ul.social-menu li a[href$="/feed/"]:before {
    content: "\f09e";
}

ul.social-menu li a[href*="foursquare.com"]:before {
    content: "\f180";
}

ul.social-menu li a[href*="instagram.com"]:before {
    content: "\f16d";
}

ul.social-menu li a[href*="tumblr.com"]:before {
    content: "\f173";
}

ul.social-menu li a[href*="reddit.com"]:before {
    content: "\f1a1";
}

ul.social-menu li a[href*="vimeo.com"]:before {
    content: "\f194";
}

ul.social-menu li a[href*="digg.com"]:before {
    content: "\f1a6";
}

ul.social-menu li a[href*="twitch.tv"]:before {
    content: "\f1e8";
}

ul.social-menu li a[href*="stumbleupon.com"]:before {
    content: "\f1a4";
}

.social-menu ul li a[href*="delicious.com"]:before {
    content: "\f1a5";
}

ul.social-menu li a[href*="mailto:"]:before {
    content: "\f0e0";
}

ul.social-menu li a[href*="skype.com"]:before {
    content: "\f17e";
}

ul.social-menu li a[href*="dribble.com"]:before {
    content: "\f17d";
}

header ul.social-menu li{ 
    padding : 0;
}

header ul.social-menu li a:before {
    padding: 0; 
    width: initial;
    height: initial;
    border : 0;
}
 
.header-top ul.menu > li, .social-menu li{
    margin: 0;
    display: inline-block;
    vertical-align: middle; 
    text-transform: uppercase;
}

.social-menu li{ margin-left: 8px; }

.header-top ul.menu > li:after{
    content: "|";
    display: inline-block;
    margin: 0 12px 0 16px;
    opacity: 0.7;
}

.header-top ul.menu.social-link > li:after{
    margin: 0 8px;
    opacity: 0;
}

.header-top ul.menu > li:last-child:after{
   content: none;
}

a.more-btn , .show-more {
    display: inline-block;
    border: 1px solid #949494;
    border-radius: 50px;
    padding: 12px 25px;
    line-height: 1;
}

a.more-btn:hover, .post-excerpt a.more-btn:hover, .show-more:hover {
    text-decoration: none;
    color: #fff;
}

 
/*--------------------------------------------------------------
10.0 Navigation
--------------------------------------------------------------*/

/*** =========== Main Menu ===========  ***/

ul.nav-menu li{
    display: inline-block;
    margin: 0;
    padding :  0 15px;
    list-style: none;    
    vertical-align: middle; 
    position: relative;
    text-transform: uppercase;
}

ul.nav-menu li > a{ 
    padding: 15px 0;
    display: block;
    position: relative;
    color: #fff;
}

ul.nav-menu li > a:before{
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 0%; 
    height: 2px;
    background-color: #fff;
}

ul.nav-menu li > a:hover:before,
ul.nav-menu li.current-menu-item > a:before{ 
    width: 100%;  
}

ul.nav-menu li .sub-menu {
    position: absolute;
    z-index: 2;
    width: 200px;
    left: 0; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(5px);
    font-size: 90%;
}
 
ul.nav-menu li:hover>.sub-menu, ul.nav-menu li:focus>.sub-menu{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.sub-menu>li{
    list-style: none;
    margin: 0;
    font-weight: normal; 
}

ul.nav-menu li>.sub-menu>li {
    padding-left: 0;
    position: relative;
    text-transform: capitalize; 
    display: block;
    padding : 0;
    font-weight: normal;
    text-align: left;
}

ul.nav-menu li>.sub-menu>li a { 
    background: #585858;
    padding: 8px 15px;
    position: relative;
    display: block;  
    color: #fff;
    border-bottom: 1px solid #828282;
}

ul.nav-menu li>.sub-menu>li a:before{
    height: 1px;
    opacity: 0.8;
}
 

ul.nav-menu li>.sub-menu>li>.sub-menu {
    left: 100%;
    font-size: 100%;
    top: 0;
}

li.menu-item-has-children>a:after,
li.menu-item-has-children>a + .sub-menu li.menu-item-has-children>a:after  {
    content: "\f107";
    font-family: "FontAwesome"; 
    display: inline-block;
    padding-left: 5px; 
    font-weight: 900;
}

li.menu-item-has-children>a+.sub-menu li.menu-item-has-children>a:after {
    content: "\f105";
    position: absolute;
    right: 15px;
}


/*--------------------------------------------------------------
11.0 Layout
--------------------------------------------------------------*/

 header{
    background: #fff;
    box-shadow: 1px 0 3px rgba(0,0,0,0.1);
 }
 
.sec-gap{
    margin-bottom: 70px;
 }

 .sec-pad{
    padding : 70px 0;
 } 

 .pad-b-0{
    padding-bottom: 0;
 }

 header, .mb-30 , .widget, .breadcrumbs-wrap{
    margin-bottom: 30px;
}

.mb-10, .post-excerpt.entry-content{
    margin-bottom: 10px;
}

.mb-20 ,
.social-links.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
    text-align: justify;
}

.mb-0, .sidebar > .widget:last-child,
.masonry-item .content p:last-child,
.page-posts .content p:last-child,
.archive-description p:last-child,
.widget:last-child,
.entry-meta.mb-0 {
    margin-bottom: 0;
}

.rel-post{
    background-color: #fff;
    padding : 30px;
}


/*** =========== Header ===========  ***/

 header h1.site-title {
    margin: 0;
    font-size: 350%;
    line-height: 1.2;
}

header .site-description {
    margin:  5px;
    line-height: 1;
    text-align: center;
}


/*** =========== Top Header ===========  ***/

.header-top {
    border-bottom: 1px solid #ddd;
    padding: 10px 0px;
    position: relative;  
    font-size: 85%; 
}

.header-top .left{
  float: left;
}

.header-top .right{
  float: right;
}


/*** =========== Header Mid ===========  ***/

.header-mid {
    position: relative;  
}

.header-mid.header-image {
    background-size: 100%;
    background-attachment: fixed;
}

.header-image:before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header-mid.header-image .container, 
.header-mid.header-image .nav-wrap{
    position: relative;
    z-index: 2;
}

.header-one .logo-wrap{
    margin: auto;
    max-width: 400px;
    text-align: center;
    padding: 30px 0; 
    position: relative;
    z-index: 2;
} 

.header-one #site-navigation{
    position: relative; 
} 

header .header-image h1.site-title a, 
header .header-image .site-description{
    color: #fff;
}

.nav-wrap{ 
    background-color: #585858;
}

.nav-wrap .toggle-menu {
    display: none;
    margin: 0 auto;
    padding: 17px 0;
    font-size: 18px;
}

.nav-wrap .mid{ 
    margin: auto;
    max-width: 95%;
    text-align: center;    
}

.hamburger {
    padding: 0;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 12px 0 0;
    overflow: visible; 
    position: absolute;
}

.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    width: 30px;
    height: 2px;
    background-color: transparent;
    border-radius: 2px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.15s;
    transition-delay: 0.15s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.is-canvi-open .hamburger--collapse .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.32s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::after,
.hamburger-inner::before {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -16px;
}

.hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.is-canvi-open .hamburger--collapse .hamburger-inner::before {
    top: 0;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger-inner::after {
    bottom: 8px;
}

.hamburger--collapse .hamburger-inner::after {
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.is-canvi-open .hamburger--collapse .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
}

/*** =========== Drop Down Search ===========  ***/
 
 .header-search{
    position: absolute;
    right: 0;
    top: 10px;
 }
.search-wrapper{
    position: relative; 
}

 .sch-btn{
    padding: 0;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    color: initial;
 }


 .search-box {
    position: absolute;
    top: 45px;
    right: 0;
    z-index: 1002;
    width: 320px;
    height: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 14px 28px -4px rgba(14,17,20,0.35);
    display: none;
}

.search-box:after {
    content: '';
    position: absolute;
    z-index: 1002;
    right: 10px;
    bottom: 100%;
    margin-bottom: -1px;
    border: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
}



/*** =========== Footer ===========  ***/

.top-footer{
    background: #414040;
} 

.top-footer .col-md-1{
    width: 100%;
}

.top-footer .col-md-2{
    width: 50%;
}

.top-footer .col-md-3{
    width: 33.333%;
}

.top-footer .col-md-4{
    width: 25%;
}

.newsletter-wrap + .top-footer .widget{
    margin-top: 20px;
}

.bottom-footer {
    background-color: #585858;
    padding: 20px 0;
}

h2.sec-title { 
    line-height: 1;
    padding-left: 15px; 
    position: relative;
    margin-bottom: 30px;
}

.sec-title:before{
    content: "";
    width: 5px;
    height: 90%;
    display: block; 
    position: absolute;
    top: 1px;
    left: 0;
}


/*--------------------------------------------------------------
12.0 Widgets
--------------------------------------------------------------*/
.sidebar .widget{
    padding: 30px;
    background-color: #ffffff;    
} 

.widget-title, .widgettitle{
    margin-bottom: 20px; 
    text-transform: uppercase; 
}

.offcanvas.sidebar .widget{
   border : 1px solid #ddd; 
}

.widget-title:after, .widgettitle:after {   
    margin: 10px 0;
    content: "";
    width: 30px;
    height: 2px;
    display: block;
}

.author-profile .widget-title:after{
    margin-left: auto;
    margin-right: auto;
}

.site-footer .widget-title:after { 
    background-color: #fff; 
}

.site-footer .widget.widget_recent_entries li, 
.site-footer .widget_categories .cat-item, 
.site-footer .widget_archive ul > li {
    border-bottom: 1px dashed #848484; 
}


/* widget forms */

.widget_search {
    position: relative;
}

.widget_search .searchsubmit{    
    border: 0;  
     padding: 0.6em;
    position: absolute;
    top: 1px;
    right: 1px;    
    line-height: 1.3;
    min-width: initial;
    background-color: transparent;
    color: #404040;
}

.widget_search .searchsubmit:hover{
    background-color: transparent;
}

.widget select {
    width: 100%;
}


/* widget lists */

.widget ul {
    list-style: none;
    margin: 0;
}

.widget ul>li,
.widget ol>li {
    margin-bottom: 8px; 
    padding: 0;
}

.widget ul>li{
    list-style: none;
}

.widget ul li:last-child,
.widget ol li:last-child{
    margin-bottom: 0;
}

.widget ul>li a,
.widget ol>li a,
li.recentcomments{
    padding-left: 15px;
    position: relative;
} 

.widget ul>li a:before,
.widget ol>li a:before,
li.recentcomments:before{ 
    content: "-"; 
    position: absolute;
    left: 0;
}

.widget li.recentcomments a:before{
    content: none;
}

.widget:not(.widget_tag_cloud) ul li + li {
    margin-top: -1px;
}

.widget ul li ul {
    margin: 0 0 -1px;
    padding: 0;
    position: relative;
}

.widget ul li li {
    border: 0;
    padding-left: 24px;
    padding-left: 1.5rem;
}

.widget li.recentcomments a{
    text-decoration: underline;
}

/* Widget lists of links */ 

.widget_top-posts ul li ul,
.widget_rss_links ul li ul,
.widget-grofile ul.grofile-links li ul,
.widget_pages ul li ul,
.widget_meta ul li ul {
    bottom: 0;
}

.widget_nav_menu ul li li,
.widget_top-posts ul li,
.widget_top-posts ul li li,
.widget_rss_links ul li,
.widget_rss_links ul li li,
.widget-grofile ul.grofile-links li,
.widget-grofile ul.grofile-links li li {
    padding-bottom: 0.25em;
    padding-top: 0.25em;
}

.widget_rss ul li {
    border-bottom: 1px dotted #ddd;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em; 
}


/* Widget markup */

.widget .post-date,
.widget .rss-date {
    font-size: 0.81em;
    opacity: 0.7;
}

/* Text widget */

.widget_text {
    word-wrap: break-word;
}

.widget_text ul {
    list-style: disc;
    margin: 0 0 1.5em 1.5em;
}

.widget_text ol {
    list-style: decimal;
}

.widget_text ul li,
.widget_text ol li {
    border: none;
}

.widget_text ul li:last-child,
.widget_text ol li:last-child {
    padding-bottom: 0;
}

.widget_text ul li ul {
    margin: 0 0 0 1.5em;
}

.widget_text ul li li {
    padding-left: 0;
    padding-right: 0;
}

.widget_text ol li {
    list-style-position: inside;
}

.widget_text ol li + li {
    margin-top: -1px;
}

/* RSS Widget */

.widget_rss .widget-title .rsswidget:first-child {
    float: right;
}

.widget_rss .widget-title .rsswidget:first-child:hover {
    background-color: transparent;
}

.widget_rss .widget-title .rsswidget:first-child img {
    display: block;
}
 

.widget_rss ul li:first-child {
    border-top: none;
    padding-top: 0;
}

.widget_rss li .rsswidget { 
    padding: 0;
    font-size: 18px; 
    line-height: 1.3;
    font-weight: 600;
}

.widget_rss li .rsswidget a:before{
    content: none;
}

.widget_rss .rss-date,
.widget_rss li cite { 
    display: block;
    font-size: 10px;
    font-size: 0.625rem;
    font-style: normal;  
    letter-spacing: 0.18em;  
}

.widget_rss li cite{
    font-weight: 600;
} 

.widget_rss .rss-date {
    margin: 0.5em 0 1.5em;
    padding: 0;
}

.widget_rss .rssSummary {
    margin-bottom: 0.5em;
}

/* Contact Info Widget */

.widget_contact_info .contact-map {
    margin-bottom: 0.5em;
}

/* Gravatar */

.widget-grofile h4 {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 0;
}

/* Recent Comments */

.widget_recent_comments li.recentcomments{
    border-bottom: 1px dashed #ddd;
    margin-bottom: 15px;
    padding-bottom: 15px;
} 

.widget_recent_comments table,
.widget_recent_comments th,
.widget_recent_comments td {
    border: 0;
}

/* Recent Posts widget */

.widget_recent_entries .post-date {
    display: block;
}

.widget_categories .cat-item,
.widget_archive ul > li{
    display: flex;
    justify-content: space-between;
    font-size: 82%;    
    align-items: center;
}

.widget.widget_recent_entries li,
.widget_categories .cat-item,
.widget_archive ul > li{
    border-bottom: 1px dashed #e2e2e2;
    padding-bottom: 10px;
}


.widget_categories .cat-item a,
.widget_archive ul > li a{
    font-size: 120%;
}

.widget.widget_recent_entries li:last-child,
.widget_recent_comments li.recentcomments:last-child,
.widget_rss ul li:last-child,
.widget_categories ul li:last-child,
.widget_categories .cat-item:last-child,
.widget_archive ul > li:last-child{
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}


/*** =========== Widget Image ===========  ***/

.widget_media_image .wp-caption {
    margin-bottom: 0;
}

/*** =========== Widget Gallery ===========  ***/

.widget_media_gallery .gallery {
    margin-bottom: 0 !important;
}


/*** =========== Widget Tag Cloud ===========  ***/

.tag-cloud-link{
    display: inline-block;
    margin-right: 5px;
    font-size: 100%
}


/*** =========== Widget Socail ===========  ***/

 .sidebar .widget .social-menu{
    text-align: center;
 }

.widget .social-menu li{
    display: inline-block;
    margin-bottom: 0;
}

.widget .social-menu li a{
    padding: 0;
}


.widget .social-menu a:before{
    position: relative;
}

/*** =========== Widget Calander ===========  ***/

.widget_calendar th, .widget_calendar td{
    text-align: center;
    padding: 0.4em 0;
}

#wp-calendar tbody #today{
    color: #fff;
}

.site-footer tr {
    border-bottom: 1px solid #7d7d7d;
}


/*** =========== Widget Featured post ===========  ***/

 .lili-featured-post > ul {
    margin: 0;
    padding: 0;
}

 .lili-featured-post > ul > li {
    position: relative;
    margin-bottom: 20px;
    list-style: none;
    width: 100%;
    float: left;
}

 .lili-featured-post > ul > li a:before{
    content: none;
 }

 .lili-featured-post > ul > li a{
    padding: 0; 
}

 .widget_featured_thumbnail {
    position: relative;
    overflow: hidden;
    float: left;
    margin:0; 
    max-width: 100px;
}

.widget_featured_thumbnail img {
    display: block;
    width: 125px;
    height: auto; 
}

 .widget_featured_post_num {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 3;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    background-color: #636363;
    color: #fff;
    font-size: 10px;
    font-style: normal;  
}

.widget_featured_content {
    height: 80px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

.widget_featured_content .post-date{
    margin: 0;
} 


/*** =========== Widget Author ===========  ***/ 

.author-wrap figure{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    background-color: #f1f1f1;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; 
}

.author-profile img{
    max-width: initial;
    width: 100%;
} 

.author-profile ul.social-links li {
    display: inline-block;
    margin: 0 2px;
}

.author-profile ul.social-links li::before {
    content: initial;
} 

.author-profile ul.social-links li a i {
    font-size: 90%; 
    vertical-align: middle; 
    color: #68686d;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 2.6;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
}

.author-profile ul.social-links li a{
    padding: 0;
}

.author-profile ul.social-links li a:before{
    content: none;
}

.author-profile .author-sign{
    font-family: 'Shadows Into Light', cursive;
    font-size: 250%;   
}

.site-footer .widget-title {
    margin-bottom: 20px;   
}

.offcanvas.sidebar {
    padding: 20px;
}



/*--------------------------------------------------------------
13.0 Comments
--------------------------------------------------------------*/

.comment-form > p{
    margin-bottom: 15px;
}

p.comment-form-author, p.comment-form-email, p.comment-form-url{
    display: inline-block;
    vertical-align: top;
    width: 32.8%;
}

p.comment-form-cookies-consent{
    display: flex;
}

#wp-comment-cookies-consent{
    position: relative;
    top: 4px;
}

p.comment-notes, .comment-form-cookies-consent{ 
    font-size: 90%; 
}

.bypostauthor {
    display: block;
}

h2.comments-title{
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
    padding-bottom: 10px;
}

ol.comment-list{
    margin: 0;
    padding: 0;
}

.comment-list ol.sub-menu {
    margin: 20px 0 20px 70px;
}

ol.comment-list li.comment {
    margin-bottom: 30px;
    list-style: none;
}

li.comment .comment-body{
    padding-left: 70px;
    position: relative;
}

footer.comment-meta {
    display: flex;
    align-items: center;
    position: initial;
}

li.comment .comment-body {
    padding-left: 70px;
    position: relative;
}

.comment-meta img.avatar {
    position: absolute;
    left: 0;
    width: 62px;
    height: 62px; 
}

li.comment .comment-content{
    padding: 5px 0 10px;
}

span.says, span.edit-link, .comment-metadata {
    display: inline-block;
    margin: 0 20px 0 0;
    font-size: 90%;
    font-style: italic;
}

span.edit-link{
    margin-left: 10px;
    font-style: initial;
    text-decoration: underline;
}

.reply:before{
    margin-right: 5px;
    content: "\f3e5";
    font-family: "Font Awesome 5 Free";
    display: inline-block; 
    font-weight: 600;
} 
 
.comment-form-container {
    padding: 30px;
    background: #f5f5f5;
}

.comment-form-comment{}
p.comment-form-author, p.comment-form-email, p.comment-form-url{
    display: inline-block;
    vertical-align: top;
    width: 32.8%;
}

.comment-respond{
    margin-top: 30px;
}



/*--------------------------------------------------------------
14.0 Content
--------------------------------------------------------------*/

/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
    outline: 0;
} 

.banner-slider .slick-list.draggable{
    margin: 0 -10px;
}

.banner-slider .slick-slide{
    padding: 0 10px;
}

.banner-slider.slick-slider:before, 
.banner-slider.slick-slider:after{
    content: "";
    width: 50%;
    height: 99.2%;
    display: block;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    top: 0;
    z-index: 1;
}

.banner-slider.slick-slider:before{
    left: -51.5%;
}

.banner-slider.slick-slider:after{
    right: -50%;
}

.banner-slider .slick-list{
    overflow: visible;
}

.slider-items figure{ 
    margin: 0;
    overflow: hidden;
    position: relative;
    min-height: 500px;
    display: flex;
    align-items: flex-end;    
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: 50% 50%; */
}

.slider-items .fig-content{
    width: 60%;
    text-align: center;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin: 0 auto 50px;
}  

.slider-items a.meta-cat {
    padding: 5px 10px; 
    color: #fff;
    border-radius: 25px;
}

.slider-items figure:before, figure.post-thumb a:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,0.1);
}

.slider-items figure:before{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}


.banner-slider a.more-btn {
    border-color: #fff;
    color: #fff;
}


.slider-items a.meta-cat:hover,
.banner-slider .slick-arrow:hover{
    background-color: #636363;
    color: #fff;
}


.banner-slider .slick-arrow { 
    position: absolute;
    z-index: 2;
    top: 45%;
    background: #fff;
    padding: 15px 20px;
    line-height: 1;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    cursor: pointer;
    left: -20px;
}

.banner-slider .slick-next.slick-arrow{
    right: -20px;
    left: initial;
}

.slick-dots{
    margin : 0;
    padding: 0;
    line-height: 1;
    text-align: center;
}

.slick-dots li{
    margin: 0 2px;
    list-style: none;
    display: inline-block;
    vertical-align: bottom;
    opacity: 0.5;
}

.slick-dots li button{
    width: 10px;
    height: 10px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    font-size: 0px;
}

.slick-dots li.slick-active{
    opacity: 1;
}

.slick-dots li.slick-active button{
    width: 20px;  
}

.banner-slider .slick-dots{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.banner-slider .slick-dots li button{
    display: none;
}

.banner-slider .slick-dots{ 
  counter-reset: my-awesome-counter;   
}

.banner-slider .slick-dots li {
  counter-increment: my-awesome-counter; 
  font-size: 1.2em; 
  margin: 0 0 0 15px;
  color : #fff;
  opacity: 0.8;
}

.banner-slider .slick-dots li::before {
  content: "0" counter(my-awesome-counter);  
}

.banner-slider .slick-dots li.slick-active{
    font-size: 1.8em;
    opacity: 1;
}



/*** =========== Side Bar options ===========  ***/ 

.left-sidebar #primary{
    float:right;
}

.left-sidebar #secondary{
    float:left;
}

.no-sidebar #secondary,
.middle-column #secondary,
.single-no-sidebar #secondary,
.page.single-no-sidebar #secondary,
.single-middle-column #secondary{
    display:none; 
}

.single-no-sidebar.right-sidebar #primary,
.single-no-sidebar.left-sidebar #primary,
.page.single-no-sidebar.right-sidebar #primary,
.page.single-no-sidebar.left-sidebar #primary{
    width: 66.66666667%;
}

.no-sidebar #primary,
.middle-column #primary,
.single-no-sidebar #primary,
.single-middle-column #primary,
.page.single-middle-column #primary{
    width: 100%;
}

.single-no-sidebar.right-sidebar #secondary,
.single-no-sidebar.left-sidebar #secondary,
.page.single-no-sidebar.right-sidebar #secondary,
.page.single-no-sidebar.left-sidebar #secondary{
    display: block;
}

.middle-column  #content .container,
.single-middle-column  #content .container{
    width: 70%;
    margin :auto;
}

.single-left-sidebar #primary{
    float:right !important;
}

.single-left-sidebar #secondary{
    float:left !important;
}

.middle-column .thumb-wrap a.post-thumbnail img{ width: 100% !important;}

.one-column .thumb-wrap .post-thumb img{ 
    width: 100%; 
}

article.post{
    width: 100%;
}

article .post-wrap .post-content{
    background-image: none;
    background : #fff;
}

.single article .post-wrap .post-content{
    padding-bottom: 0;
}

article.masonry-post .post-wrap,
.single article .post-wrap{
    display: block;
}

article.masonry-post .post-wrap .thumb-wrap {
    max-width: 100%;
}

.rel-post .post-content{
    padding: 20px 0 0 0;
    background-image: none;
}

.single .post-title {
    margin-bottom: 5px;
}




/* Blog Layout Column options */

.masonry-start{
    clear: both;
}
 
.masonry-post .masonry-start{
    margin-right: -15px;
    margin-left: -15px;
}

article.post{    
    margin-bottom: 30px;
    background-color: #fff;
}

article.masonry-post {
    float: left; 
    padding: 0 15px;
    background-color: transparent;
}

.right-sidebar article.masonry-post,
.left-sidebar article.masonry-post{
    width: 50%; 
}

.no-sidebar article.masonry-post{
    width: 33.33333333%; 
}

.post-content{    
    padding: 30px; 
    background-image: linear-gradient(to right,#9e9e9e 33%,rgba(255,255,255,0) 0);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
}
 

/*** =========== Entry Post  ===========  ***/

h3.post-title.entry-title{
    margin-bottom: 8px;
}

.thumb-wrap{
    position: relative; 
}

.thumb-wrap .post-thumb{
    margin-bottom: 0;
    max-height: 500px;
}

.thumb-wrap:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: #222;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -10px;
    z-index: 2; 
}

.posted-on, span.post_by {
    margin-right: 5px;
}

.posted-on:before {
    content: "-";
    display: inline-block;
    margin-right: 5px;
}

.cat-links, .cat-links a{
    color: #000;
}

.meta-footer{
    display: flex; 
    align-items: center;
}

.more-wrap{
   width: 130px;
    vertical-align: inherit;
    position: relative;
    top: -2px;
}

a.read-more, .meta-share , a.more-btn{
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-size: 82%;
}

a.read-more:after{
    content: "...";
    display: inline-block;
    vertical-align: bottom;
    margin-left: 3px;
}

a.read-more:before{
    content: "";
    width: 0px;
    height: 8px;
    background: #000;
    display: inline-block; 
}

a.read-more:hover:before{
    margin-right: 5px;
    width: 5px;
}

.meta-share{ 
    cursor: pointer; 
}

.meta-share{
    display: flex;
}
 
.meta-share .post-share{
    margin-left: 5px;
    position: absolute;
    visibility: hidden; 
}

.meta-share .post-share a{
    display: inline-block;
    padding-left: 5px;     
    transform: translateY(10px); 
}

.meta-share:hover .post-share{
    visibility: visible;
}

.meta-share .meta_bottom{
   width: 0px;
}
 
.meta-share:hover .post-share a{
    transform: translateY(0); 
}

.share-wrap{
    margin-top: 30px;
}
 
.share-wrap .post-share:before{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #ddd;
    display: block;
    position: relative;
    top: 20px;
}

.share-wrap .post-share a{
    display: inline-block;
    margin: 0 3px;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    line-height: 2.5;  
    position: relative;
    z-index: 2;  
} 

.share-wrap .post-share a:hover{
    color: #fff;
}


/*** =========== Achive  ===========  ***/

h2.archive-title {
    margin: 0; 
    line-height: 1;
}

h2.archive-title:after{
    content: " ";
    display: inline-block;
    margin-left: 5px;
}

h2.archive-title.no-style:after{
    content: none;
}

.archive-description {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 10px;
}


/*** =========== No Result Page ===========  ***/

.search-no-results .page-content{
    position: relative;  
    word-wrap: break-word;
    overflow: hidden;
} 

 
.blog .format-status .post-excerpt p,
.archive .format-status .post-excerpt p {
    font-size: 20px;
    font-style: italic;
}


article.format-aside .post-content .post-format::after,
article.format-status .post-content .post-format::after,
article.format-chat .post-content .post-format::after,
article.format-link .post-content .post-format::after,
article.format-standard .post-content .post-format::after,
article.format-image .post-content .post-format::after,
article.hentry.sticky .post-content .post-format::after,
article.format-video .post-content .post-format::after,
article.format-gallery .post-content .post-format::after,
article.format-audio .post-content .post-format::after,
article.format-quote .post-content .post-format::after {
    content: "\f03e";
    color: #ffffff;
    display: inline-block;
    font-family: "fontawesome";
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
    line-height: 30px;
    height: 30px;
    background: #d42929;
}

article.format-standard .post-content .post-format::after{
    content: "\f016"
}

article.format-image .post-content .post-format::after{
    content: "\f03e";
}
article.hentry.sticky .post-content .post-format::after{
    content: "\f097";
}
article.format-video .post-content .post-format::after{
    content: "\f144";
}
article.format-gallery .post-content .post-format::after{
    content: "\f03e";
}
article.format-audio .post-content .post-format::after{
    content: "\f001";
}
article.format-quote .post-content .post-format::after{
    content: "\f10e";
}
article.format-link .post-content .post-format::after{
    content: "\f08e";
}
article.format-chat .post-content .post-format::after{
    content: "\f0e6";
}
article.format-aside .post-content .post-format::after{
    content: "\f24a";
}
article.format-status .post-content .post-format::after{
    content: "\f24d";
}
 @media (max-width: 767px){
    .date_title .post-date {
        line-height: inherit;
    }
}
 

/*** =========== Tab Navigate ===========  ***/

#primary-menu li.dropdown_menu.locked > ul,
#primary-menu li.dropdown_menu a:focus ~ ul{
    visibility: visible;
    opacity: 1;
    top: 100%;
    outline: 5px auto red!important;
}
 
.pro-btn a:after {
    background: #00cf24;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    padding: 2px 5px;
    position: absolute;
    right: 15px;
    top: 10px;
    content: "PRO";
    color: #fff;
    z-index: 100;
    font-family: sans-serif;
}

.hot-btn a:after {
    background: red;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    padding: 2px 5px;
    position: absolute;
    right: 15px;
    top: 10px;
    content: "HOT";
    color: #fff;
    z-index: 100;
    font-family: sans-serif;
}

.hot-btn-1>a:after {
    background: red;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    padding: 2px 5px;
    position: absolute;
    right: 15px;
    top: 10px;
    content: "HOT";
    color: #fff;
    z-index: 100;
    font-family: sans-serif;
}

.new-btn a:after {
    background: #242424;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    padding: 2px 5px;
    position: absolute;
    right: 15px;
    top: 10px;
    content: "NEW";
    color: #fff;
    z-index: 100;
    font-family: sans-serif;
}
 
/* date */
.updated:not(.published) {
    display: none;
}



/* post excerpt and post content */ 

.post-excerpt a:hover,
.post-excerpt a:focus,
.content a:hover,
.content a:focus {
    color: #d42929;
    text-decoration: underline; 
}

.drop-cap p:first-child:first-letter {
    float: left;
    font-size: 75px;
    line-height: 75px;
    padding-top: 0px;
    padding-right: 6px;
    padding-left: 3px;
} 

.single .post-excerpt p,
.single .post-excerpt ul, 
.single .post-excerpt ol{ 
    list-style-position: inside;
}

.single .post-excerpt ul li ul{
    margin-bottom: 20px;
}
.single .post-excerpt ul li{
    margin-bottom: 10px;
}
.single .post-excerpt h1,
.single .post-excerpt h2,
.single .post-excerpt h3,
.single .post-excerpt h4,
.single .post-excerpt h5,
.single .post-excerpt h6{
    margin-bottom: 20px;
}
 


/* post format: chat */
.format-chat .post-excerpt p,
.format-chat .content p {
    background-color: #f7f8f8;
    padding: 5px;
    margin-bottom: 10px;
}

.archive .format-chat .post-excerpt p,
.home .format-chat .post-excerpt p {
    display: none;
}

.archive .format-chat .post-excerpt p:nth-child(1),
.archive .format-chat .post-excerpt p:nth-child(2),
.archive .format-chat .post-excerpt p:nth-child(3),
.archive .format-chat .post-excerpt p:nth-child(4),
.home .format-chat .post-excerpt p:nth-child(1),
.home .format-chat .post-excerpt p:nth-child(2),
.home .format-chat .post-excerpt p:nth-child(3),
.home .format-chat .post-excerpt p:nth-child(4){
    display: block;
}

/* post format: link */
.format-link .post-excerpt a {
    display: block;
}

a.link-format {
    padding: 43px 20px;
    background: #d42929;
    margin: 0px -15px;
    color: #fff;
    font-size: 20px;
}

a.link-format:hover {
    color: #fff!important;
    opacity: 0.7;
}

/* post format: Quote */
.format-quote .post-wrap{
    background: #d42929;
}

.format-quote .content{
    color: #fff;
    margin: 0;
    padding: 0;
}


/* post format: status */
.blog .format-status p,
.archive .format-status p{
    display: none;
}


/*** =========== Paginations ===========  ***/

.pagination {
    text-align: center;
}

.page-numbers{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 2px;
    color: #fff;
    line-height: 2.2;
    background-color: #4e4e4e;
    border-radius: 5px;
}

.page-numbers:hover, .page-numbers.current{
    color: #fff;
}


.show-more {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;     
    cursor: pointer;     
    display: inline-block;    
    text-align: center;      
    text-overflow: ellipsis;    
    white-space: nowrap; 
    max-width: 100%;  
    margin: auto;
}

.ajax-pagination{
    display: inline-block;
    width: 100%;
}

.show-more i{
    margin-right: 10px;
}


/* post navigation (WordPress CSS classes) */

.singe_navigation {
    clear: both;
    padding: 30px;
}

nav.navigation.post-navigation {
    background: #f3f3f3;
    margin: 0; 
}

.post-navigation {
    zoom: 1;
    background: #f6f6f6;
    padding: 30px;
    border-radius: 5px;
}

.post-navigation:before,
.post-navigation:after {
    content: " ";
    display: table;
}

.post-navigation:after {
    clear: both;
}

.post-navigation .nav-previous,
.post-navigation .nav-next {
    display: inline-block;
    min-height: 1px;
    width: 50%;
    position: relative;
}

.post-navigation .nav-previous {
    float: left;
    text-align: left;
    padding-right: 15px;
}

.post-navigation .nav-next {
    float: right;
    text-align: right;
    padding-left: 15px;
    border-left: 1px solid #ababab;
}

.post-navigation .nav-previous a:before {
    position: absolute;
    content: "Previous post";
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #989ea6;
    display: block;
    padding-left: 10px;
    top: 0;
}
.post-navigation .nav-previous a:after {
    position: absolute;
    content: "\f0d9";
    font-family: "FontAwesome";
    color: #989ea6;
    left: 0;
    top: -3px;
}

.post-navigation .nav-next a:before {
    position: absolute;
    content: "Next post";
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #989ea6;
    display: block;
    padding-right: 10px;
    top: 0;
    right: 0;
}

.post-navigation .nav-next a:after {
    position: absolute;
    content: "\f0da";
    font-family: "FontAwesome";
    color: #989ea6;
    right: 0;
    top: -3px;
}

.post-navigation .nav-links a {
    display: inline-block;
    width: 100%;
    padding: 20px 0 0 0;  
    word-wrap: break-word;
}

.post-navigation .nav-links a:hover,
.post-navigation .nav-links a:focus {
    color: #d42929;  
}

.navigation {
    text-align: center;
    margin: 1.618em 0; 
    border: none;
    background: #fff;
}

.single-post span.tags-links {
    margin: 0px 3px 0px 19px;
}



/*** ===========UnderScores default css===========  ***/

.wp-caption {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 5px 0 0;
}

.wp-caption img {
    border: 0;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}

.wp-caption .wp-caption-text {
    margin: 0;
    padding: 10px 0 0;
    font-size: 13px;
    text-align: left;
    line-height: 1.6;
}
 
.comment-content img {
    display: block;
    max-width: 100%;
    height: auto;
}

img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
    height: auto !important;
}

img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
    max-width: 100%;
    height: auto;
}
 
.gallery {
    margin: 0 -5px 5px !important;
    padding-top: 5px;
}

.gallery .gallery-item {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    margin: 0 0 15px 0;
    padding: 0 5px;
}

.gallery .gallery-item .gallery-caption {
    margin: 0;
    padding: 10px 10px 0 0;
    font-size: 13px;
    line-height: 1.6;
    text-align: left;
}

.gallery.gallery-columns-7 .gallery-item .gallery-caption,
.gallery.gallery-columns-8 .gallery-item .gallery-caption,
.gallery.gallery-columns-9 .gallery-item .gallery-caption {
    display: none;
}

.gallery .gallery-icon a {
    display: block;
}

.gallery .gallery-icon img {
    display: block;
    max-width: 100%;
    height: auto;
    border: none !important;
    margin: 0;
    padding: 0;
}

.gallery.gallery-columns-1 .gallery-item {
    width: 100%;
}

.gallery.gallery-columns-2 .gallery-item {
    width: 50%;
}

.gallery.gallery-columns-3 .gallery-item {
    width: 33.3333336%;
}

.gallery.gallery-columns-4 .gallery-item {
    width: 25%;
}

.gallery.gallery-columns-5 .gallery-item {
    width: 20%;
}

.gallery.gallery-columns-6 .gallery-item {
    width: 16.6666667%;
}

.gallery.gallery-columns-7 .gallery-item {
    width: 14.2857143%;
}

.gallery.gallery-columns-8 .gallery-item {
    width: 12.5%;
}

.gallery.gallery-columns-9 .gallery-item {
    width: 11.1111111%;
}

/* twitter tweet */
.twitter-tweet {
    margin-top: 5px !important;
    margin-bottom: 20px !important;
}


/*** ===========Related Post ===========  ***/

 .post-wrap .related-posts {
    padding-top: 20px;
    border-top: 1px solid #eeeeee;
    margin-top: 10px;
}

 .post-wrap .related-post-widget-title {
    padding: 0;
    margin-bottom: 20px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    color: #2f3235;
    background-color: #ffffff;
}

.post-wrap .related-posts .post-title {
    font-size: 18px;
}

.post-wrap.left-image .related-posts{
    display: none;
}

/*** =========== Page 404 ===========  ***/

.page-404-content h1{
    font-size: 600%;
    opacity: 0.6;
    line-height: 1;
}

 .page-404-content .search-form{
    width: 500px; 
    margin: 0 auto 20px;
 }

 .back_home i{
    display: inline-block;
    margin-right: 5px;
 }

/*** =========== Back to top ===========  ***/

#toTop {
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 999;
    display: inline-block; 
    text-align: center;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 5px; 
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}


#toTop:focus {
    color: #4c4f53;
}

#toTop:hover {
    color: #ffffff;
    background-color: #000;
    transform: translateY(-3px);
}
 

/*** =========== breadcrumbs ===========  ***/

.breadcrumbs-wrap {
    display: block;
    background: #efefef;
    padding: 15px 20px; 
    border-radius: 5px;
    border: 1px solid #ececec;
}

.breadcrumbs .location {
    text-transform: uppercase;
    font-weight: 600;
    padding-right: 15px;
    float: left;
    font-size: 13px;
    line-height: 19px;
    display: none;
}

ul.trail-items {
    margin: 0;
    padding: 0;
}

ul.trail-items li {
    list-style: none;
    display: inline;
    overflow-wrap: break-word;
}

ul.trail-items li a{
    color: #858585;
}

ul.trail-items li [rel~=home] span {
    position: relative;
    padding-left: 20px;
}

ul.trail-items li [rel~=home] span:before {
    content: "\f015";
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    font-family: Fontawesome;
}
ul.trail-items li a:hover span{
    color: #d42929;
}

.breadcrumbs .delim {
    padding: 0 10px;
    font-size: 16px;
    color: #8d97a1;
    line-height: .7;
}

.breadcrumbs .delim:last-child{
    display: none;
}

div#lili-blog-breadcrumbs {
    float: left;
}
 

/*--------------------------------------------------------------
15.0 Media
--------------------------------------------------------------*/
img,
video { 
    max-width: 100%; /* Adhere to container width. */
    height: auto;  
} 

embed,
iframe,
object {
    max-width: 100%;
    width: 100%;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
 

/* video post format: iframe */
.iframe-video-wrap {
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    z-index: 10;
}

.iframe-video-wrap iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none !important;
}
 
.iframe-audio-wrap iframe {
    display: block;
    min-height: 160px;
    width: 100%;
}


/*--------------------------------------------------------------
16.0 Animations
--------------------------------------------------------------*/

.banner-slider a.more-btn, .nav-btn a, .btn, input[type="submit"], button, button[type="submit"], ul.social-menu li a:before, ul.nav-menu li:hover .sub-menu, .nav-menu li > a:before, .img-animi img,
 .banner-slider .slick-arrow, .banner-slider .slick-dots li button, .banner-slider .slick-dots li, a.read-more:before, .post-share a , .show-more, #toTop, .author-profile ul.social-links li a *, .page-numbers{
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
}

.post-share a:nth-child(2n){
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
} 

.post-share a:nth-child(3n){
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
} 

.post-share a:nth-child(4n){
    transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
} 

.post-share a:nth-child(5n){
    transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    transition-duration: 0.7s;
} 

.img-animi{
    position: relative;
    overflow: hidden;
}

.img-animi:hover img{
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
}

.share-wrap .post-share a:hover{
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
}


a.more-btn:hover , .show-more:hover{
    transform: translateY(-3px); 
}

.banner-slider .slick-prev.slick-arrow:hover{
    transform: translateX(-5px);
}

.banner-slider .slick-next.slick-arrow:hover{
    transform: translateX(5px);
}


/*--------------------------------------------------------------
17.0 Extras
--------------------------------------------------------------*/
.newsletter-wrap{
    display: none;
}

.home .newsletter-wrap{
    display: block;
}

.newsletter{ 
    padding: 20px; 
    position: relative;
    z-index: 2;
    margin-bottom: -50px;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.newsletter h3{
    position: relative;
    padding-left: 60px;
    margin: 0;
    color: #fff;
}

.newsletter h3 span{
    display: block;
    font-size: 65%;
}

.newsletter h3 i{
    position: absolute;
    left: 0;
    font-size: 180%;
    top: 8px;
}


.mc4wp-form-fields {
    display: flex;
}


.mc4wp-form-fields p{
    margin: 0 5px;
}


.newsletter form{
    margin-top: 5px;
} 


/*==============================================================
##WordPress content styles: Gutenberg editor
================================================================
 */

/* paragraph */
.post-excerpt .has-background {
    margin: 5px 0 20px;
    padding: 20px 30px;
    display: inline-block;
    width: 100%;
}
.post-excerpt .has-background a {
    color: inherit !important;
}

/* quote type 1: regular */
.post-excerpt .wp-block-quote:not(.is-large):not(.is-style-large) {
    display: inline-block;
    width: 100%;
    margin: 5px 0 40px;
    padding: 0 25px 0 25px;
    border-left: 4px solid #4c4f53;
    font-size: 20px; 
    font-weight: 500;
}

.post-excerpt .wp-block-quote:not(.is-large):not(.is-style-large):before {
    display: none;
}
 
.post-excerpt .wp-block-quote:not(.is-large):not(.is-style-large) cite {
    display: block;
}

/* quote type 2: large */
.post-excerpt .wp-block-quote.is-large,
.post-excerpt .wp-block-quote.is-style-large {
    margin: 0 0 20px;
    padding: 0 0 0 46px;
}
.post-excerpt .wp-block-quote.is-large p,
.post-excerpt .wp-block-quote.is-style-large p {
    font-size: 18px;
    font-style: normal;
    line-height: 1.65;
}
.post-excerpt .wp-block-quote.is-large cite,
.post-excerpt .wp-block-quote.is-large footer,
.post-excerpt .wp-block-quote.is-style-large cite,
.post-excerpt .wp-block-quote.is-style-large footer {
    font-size: 18px;
    font-style: normal;
    text-align: left;
    line-height: 1.3;
}
.post-excerpt .wp-block-quote.is-large cite,
.post-excerpt .wp-block-quote.is-style-large cite {
    display: block;
}

/* quote type 3: pullquote */
.post-excerpt .wp-block-pullquote {
    display: inline-block;
    width: 100%;
    margin: 5px 0 20px; 
    text-align: center;
    border: none;
    border-top: 4px solid #4c4f53;
    border-bottom: 4px solid #4c4f53;
}
.post-excerpt .wp-block-pullquote blockquote {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    font-size: 18px !important;
    font-style: normal;
    line-height: 1.65 !important;
}
.post-excerpt .wp-block-pullquote p {
    font-size: 18px !important;
    font-style: normal;
    line-height: 1.65 !important;
}
.post-excerpt .wp-block-pullquote blockquote p {
    margin: 0 0 15px !important;
}
.post-excerpt .wp-block-pullquote blockquote p:last-child {
    margin-bottom: 0 !important;
}
.post-excerpt .wp-block-pullquote blockquote:before {
    display: none;
}
.post-excerpt .wp-block-pullquote cite,
.post-excerpt .wp-block-pullquote footer {
    text-transform: uppercase;
    font-size: 13px;
    font-style: normal;
    line-height: 1.7;
    text-align: center;
}
.post-excerpt .wp-block-pullquote cite {
    margin-top: 15px;
}

/* pullquote: solid color */
.post-excerpt .wp-block-pullquote.is-style-solid-color {
    border-top: none;
    border-bottom: none;
}
.post-excerpt .wp-block-pullquote.is-style-solid-color blockquote {
    text-align: center;
    max-width: 100%;
}
.post-excerpt .wp-block-pullquote.is-style-solid-color blockquote cite {
    text-transform: uppercase;
    font-size: 13px;
    font-style: normal;
    line-height: 1.7;
    text-align: center;
}

/* button */
 
.post-excerpt .wp-block-button .wp-block-button__link {
    width: auto;
    margin: 0; 
    font-size: 100%;
    line-height: 1;
    text-align: center;
    border: none;
    border-radius: 23px;
    box-shadow: none;
    text-decoration: none !important;
}
.post-excerpt .wp-block-button .wp-block-button__link:active {
    position: relative;
    top: 1px;
}
.post-excerpt .wp-block-button__link:not(.has-text-color),
.post-excerpt .wp-block-button__link:not(.has-text-color):active,
.post-excerpt .wp-block-button__link:not(.has-text-color):focus,
.post-excerpt .wp-block-button__link:not(.has-text-color):hover {
    color: #ffffff;
}
.post-excerpt .wp-block-button__link:not(.has-background),
.post-excerpt .wp-block-button__link:not(.has-background):active,
.post-excerpt .wp-block-button__link:not(.has-background):focus,
.post-excerpt .wp-block-button__link:not(.has-background):hover {
    background-color: #1f2123;
}

/* separator (3 different types) */
.post-excerpt .wp-block-separator,
.post-excerpt .wp-block-separator.is-style-wide {
    margin: 25px auto;
    border: none;
    border-bottom: 1px solid #eeefef;
}
.post-excerpt .wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    max-width: 100px;
    border-bottom-width: 2px;
}
.post-excerpt .wp-block-separator.is-style-dots {
    margin-top: 15px;
    margin-bottom: 15px;
    background: none;
    border: none;
    text-align: center;
    max-width: none;
    line-height: 1;
    height: auto;
}
.post-excerpt .wp-block-separator.is-style-dots:before {
    color: #4c4f53;
    font-size: 20px;
    font-weight: 700;
}

/* captions for media files */
.post-excerpt .wp-block-image figcaption,
.post-excerpt .wp-block-audio figcaption,
.post-excerpt .wp-block-video figcaption,
.post-excerpt .wp-block-embed figcaption {
    margin: 0;
    font-size: 13px;
    text-align: left;
    line-height: 1.6;
    color: #4c4f53;
}

/* image */
.post-excerpt figure.wp-block-image,
.post-excerpt .wp-block-image figure {
    margin: 0 0 20px;
    padding: 5px 0 0;
}
.post-excerpt .wp-block-image figcaption {
    margin-bottom: -5px;
    padding: 10px 0 0;
}
.post-excerpt .wp-block-image .alignleft {
    float: left;
    margin: 5px 30px 15px 0;
    padding: 0;
}
.post-excerpt .wp-block-image .alignright {
    float: right;
    margin: 5px 0 15px 30px;
    padding: 0;
}
.post-excerpt .wp-block-image .aligncenter {
    margin: 0 auto 20px;
    padding: 5px 0 0;
}

/* cover image */
.post-excerpt .wp-block-cover,
.post-excerpt .wp-block-cover-image {
    margin: 20px 0;
}
.post-excerpt > .wp-block-cover:first-child,
.post-excerpt > .wp-block-cover-image:first-child {
    margin-top: 5px;
    margin-right: 20px;
}
.post-excerpt .wp-block-cover-image .wp-block-cover__inner-container,
.post-excerpt .wp-block-cover .wp-block-cover__inner-container {
    width: calc(100% - 60px);
    color: #eaedf1;
}
.post-excerpt .wp-block-cover-image .wp-block-subhead,
.post-excerpt .wp-block-cover-image h1,
.post-excerpt .wp-block-cover-image h2,
.post-excerpt .wp-block-cover-image h3,
.post-excerpt .wp-block-cover-image h4,
.post-excerpt .wp-block-cover-image h5,
.post-excerpt .wp-block-cover-image h6,
.post-excerpt .wp-block-cover-image p,
.post-excerpt .wp-block-cover-image a,
.post-excerpt .wp-block-cover-image a:active,
.post-excerpt .wp-block-cover-image a:focus,
.post-excerpt .wp-block-cover-image a:hover,
.post-excerpt .wp-block-cover .wp-block-subhead,
.post-excerpt .wp-block-cover h1,
.post-excerpt .wp-block-cover h2,
.post-excerpt .wp-block-cover h3,
.post-excerpt .wp-block-cover h4,
.post-excerpt .wp-block-cover h5,
.post-excerpt .wp-block-cover h6,
.post-excerpt .wp-block-cover p,
.post-excerpt .wp-block-cover a,
.post-excerpt .wp-block-cover a:active,
.post-excerpt .wp-block-cover a:focus,
.post-excerpt .wp-block-cover a:hover {
    color: inherit !important;
}
.post-excerpt .wp-block-cover-image h1:last-child,
.post-excerpt .wp-block-cover-image h2:last-child,
.post-excerpt .wp-block-cover-image h3:last-child,
.post-excerpt .wp-block-cover-image h4:last-child,
.post-excerpt .wp-block-cover-image h5:last-child,
.post-excerpt .wp-block-cover-image h6:last-child,
.post-excerpt .wp-block-cover-image p:last-child,
.post-excerpt .wp-block-cover h1:last-child,
.post-excerpt .wp-block-cover h2:last-child,
.post-excerpt .wp-block-cover h3:last-child,
.post-excerpt .wp-block-cover h4:last-child,
.post-excerpt .wp-block-cover h5:last-child,
.post-excerpt .wp-block-cover h6:last-child,
.post-excerpt .wp-block-cover p:last-child {
    margin-bottom: 0;
}

/* gallery */

.post-excerpt .wp-block-gallery .blocks-gallery-image figcaption,
.post-excerpt .wp-block-gallery .blocks-gallery-item figcaption {
    font-size: 13px;
    padding: 15px;
    color: #eaedf1;
}

.blocks-gallery-grid.is-cropped .blocks-gallery-image a, .blocks-gallery-grid.is-cropped .blocks-gallery-image img, .blocks-gallery-grid.is-cropped .blocks-gallery-item a, .blocks-gallery-grid.is-cropped .blocks-gallery-item img, .wp-block-gallery.is-cropped .blocks-gallery-image a, .wp-block-gallery.is-cropped .blocks-gallery-image img, .wp-block-gallery.is-cropped .blocks-gallery-item a, .wp-block-gallery.is-cropped .blocks-gallery-item img{
    height: initial;
}

.post-excerpt .wp-block-gallery .blocks-gallery-image figcaption a,
.post-excerpt .wp-block-gallery .blocks-gallery-image figcaption a:active,
.post-excerpt .wp-block-gallery .blocks-gallery-image figcaption a:focus,
.post-excerpt .wp-block-gallery .blocks-gallery-image figcaption a:hover,
.post-excerpt .wp-block-gallery .blocks-gallery-item figcaption a,
.post-excerpt .wp-block-gallery .blocks-gallery-item figcaption a:active,
.post-excerpt .wp-block-gallery .blocks-gallery-item figcaption a:focus,
.post-excerpt .wp-block-gallery .blocks-gallery-item figcaption a:hover {
    color: #eaedf1;
}

/* audio and video */
.post-excerpt .wp-block-audio,
.post-excerpt .wp-block-video {
    margin: 0 0 15px;
    padding: 5px 0 0;
}
.post-excerpt .wp-block-audio audio {
    width: 100%;
    max-width: 100%;
    display: inline-block;
}
.post-excerpt .wp-block-audio figcaption,
.post-excerpt .wp-block-video figcaption {
    padding: 3px 0 0;
}

/* embed elements */
.post-excerpt .wp-block-embed {
    clear: both;
    margin: 0 0 15px;
    padding: 5px 0 0;
    min-width: 160px;
}
.post-excerpt .wp-block-embed iframe,
.post-excerpt .wp-block-embed embed {
    margin: 0;
}
.post-excerpt .wp-block-embed figcaption {
    padding: 3px 0 0;
}
.post-excerpt .wp-block-embed.wp-block-embed-youtube figcaption,
.post-excerpt .wp-block-embed.wp-block-embed-vimeo figcaption,
.post-excerpt .wp-block-embed.wp-block-embed-soundcloud figcaption {
    padding-top: 10px;
}
.post-excerpt .wp-block-embed .twitter-tweet {
    margin-top: 0 !important;
}
.post-excerpt .wp-block-embed-facebook .wp-block-embed__wrapper,
.post-excerpt .wp-block-embed-facebook .fb_iframe_widget,
.post-excerpt .wp-block-embed-facebook .fb_iframe_widget span {
    max-width: 100%;
}

/* file */
.post-excerpt .wp-block-file {
    margin: 0 0 15px;
}
.post-excerpt .wp-block-file a:not(.wp-block-file__button) {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.7;
    color: #d42929;
    text-decoration: underline;
}
.post-excerpt .wp-block-file a:not(.wp-block-file__button):focus,
.post-excerpt .wp-block-file a:not(.wp-block-file__button):hover {
    color: #d42929;
}
.post-excerpt .wp-block-file .wp-block-file__button {
    display: inline-block;
    font-size: 15px;
    text-decoration: none !important;
    margin: 0 0 0 15px;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    border-radius: 18px;
    background: #1f2123;
    color: #ffffff;
}
.post-excerpt .wp-block-file .wp-block-file__button:active {
    position: relative;
    top: 1px;
}
.post-excerpt .wp-block-file .wp-block-file__button:active,
.post-excerpt .wp-block-file .wp-block-file__button:focus,
.post-excerpt .wp-block-file .wp-block-file__button:hover,
.post-excerpt .wp-block-file .wp-block-file__button:visited {
    box-shadow: none;
    color: #ffffff;
    background: #d42929;
    opacity: 1;
}

/* code and preformatted */
.post-excerpt .wp-block-code,
.post-excerpt .wp-block-preformatted {
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
    word-wrap: break-word;
    line-height: 1.5;
}
.post-excerpt .wp-block-code code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}
.post-excerpt .wp-block-preformatted {
    background-color: transparent;
    border: 1px solid #eeefef;
}

/* table */
.post-excerpt .wp-block-table {
    width: 100%;
}
.post-excerpt .wp-block-table tbody,
.post-excerpt .wp-block-table tfoot,
.post-excerpt .wp-block-table thead {
    width: 100%;
    min-width: 240px;
    display: table;
}

/* table: stripes style */
.post-excerpt .wp-block-table.is-style-stripes {
    border-bottom: none;
}
.post-excerpt .wp-block-table.is-style-stripes td {
    border-color: #eeefef;
}
.post-excerpt .wp-block-table.is-style-stripes tr:nth-child(odd) {
    background-color: #f7f8f8;
}

/* verse */
.post-excerpt .wp-block-verse {
    white-space: pre-wrap;
    overflow: auto;
    padding: 20px 30px;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    line-height: 1.7;
    background-color: transparent;
    border: 1px solid #eeefef;
}

/* columns */
.post-excerpt .wp-block-columns {
    margin: 0 -18px;
    padding: 0;
    overflow: hidden;
}
.post-excerpt .wp-block-columns .wp-block-column {
    margin: 0;
    padding: 0 18px;
}

/* widgets: archives and categories */
.post-excerpt .wp-block-archives li,
.post-excerpt .wp-block-categories li {
    margin: 0 0 4px;
}
.post-excerpt .wp-block-archives li:last-child,
.post-excerpt .wp-block-categories li:last-child {
    margin-bottom: 0;
}
.post-excerpt .wp-block-archives li a,
.post-excerpt .wp-block-categories li a {
    margin-right: 4px;
}
.post-excerpt .wp-block-archives li ul,
.post-excerpt .wp-block-categories li ul {
    margin: 4px 0;
}
.post-excerpt .wp-block-archives li:last-child ul,
.post-excerpt .wp-block-categories li:last-child ul {
    margin-bottom: 0;
}
.post-excerpt .wp-block-archives .screen-reader-text,
.post-excerpt .wp-block-categories-dropdown .screen-reader-text {
    width: 1px;
    padding-bottom: 0;
}
.post-excerpt .wp-block-archives select,
.post-excerpt .wp-block-categories-dropdown select {
    margin: 5px 0 20px;
}
.post-excerpt .wp-block-archives.aligncenter,
.post-excerpt .wp-block-categories-dropdown {
    margin: 0;
    padding: 0;
}

/* widget: latest comments */
.post-excerpt .wp-block-latest-comments {
    padding: 0 0 0 15px;
}
.post-excerpt .wp-block-latest-comments .wp-block-latest-comments__comment {
    margin: 0 0 10px;
    list-style: decimal;
    font-size: 15px;
    line-height: 1.7;
}
.post-excerpt .wp-block-latest-comments .wp-block-latest-comments__comment:last-child {
    margin-bottom: 0;
}
.post-excerpt .wp-block-latest-comments .wp-block-latest-comments__comment-date {
    display: block;
    font-size: 12px;
    line-height: 1.7;
    color: #989ea6;
}
.post-excerpt .wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p {
    padding: 0;
    margin: 5px 0 15px;
    font-size: 14px;
    line-height: 1.7;
}
.post-excerpt .wp-block-latest-comments .wp-block-latest-comments__comment:last-child .wp-block-latest-comments__comment-excerpt p:last-child {
    margin-bottom: 0;
}
.post-excerpt .wp-block-latest-comments.has-avatars {
    padding: 3px 0 0;
    list-style: none;
}
.post-excerpt .wp-block-latest-comments.has-avatars .wp-block-latest-comments__comment {
    list-style: none;
}
.post-excerpt .wp-block-latest-comments.has-avatars .avatar,
.post-excerpt .wp-block-latest-comments.has-avatars .wp-block-latest-comments__comment-avatar {
    margin: 2px 15px 0 0;
} 
.post-excerpt .wp-block-latest-comments.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta {
    margin: 0 0 0 55px;
}

/* widget: latest posts */
.post-excerpt .wp-block-latest-posts li {
    margin: 0 0 5px;
}
.post-excerpt .wp-block-latest-posts li:last-child {
    margin-bottom: 0;
}
.post-excerpt .wp-block-latest-posts .wp-block-latest-posts__post-date {
    display: block;
    font-size: 12px;
    line-height: 1.7;
    color: #989ea6;
}
.post-excerpt .wp-block-latest-posts.is-grid {
    list-style: none;
    margin-right: -15px;
    margin-bottom: 5px;
    padding: 0; 
}
.post-excerpt .wp-block-latest-posts.is-grid li {
    margin-bottom: 15px;
    padding-right: 15px;
    line-height: 1.5;
}
.post-excerpt .wp-block-latest-posts.is-grid .wp-block-latest-posts__post-date {
    margin-top: 3px;
    line-height: 1.7;
}

/* widget: calendar */
.post-excerpt .wp-block-calendar #wp-calendar {
    display: table;
    text-align: center;
    font-family: 'Lora', serif;
    line-height: 1.7;
}
.post-excerpt .wp-block-calendar table caption,
.post-excerpt .wp-block-calendar table tbody {
    color: #4c4f53;
}
.post-excerpt .wp-block-calendar #wp-calendar tbody td,
.post-excerpt .wp-block-calendar #wp-calendar th {
    padding: 5px;
    border: 1px solid #eeefef;
}
.post-excerpt .wp-block-calendar #wp-calendar thead th {
    text-align: center;
    font-weight: 700;
    background: #f7f8f8;
}
.post-excerpt .wp-block-calendar #wp-calendar a {
    font-weight: 700;
}
.post-excerpt .wp-block-calendar #wp-calendar tfoot td {
    border: none;
    padding: 15px 5px 0 !important;
}
.post-excerpt .wp-block-calendar #wp-calendar tfoot td a {
    color: #4c4f53;
}
.post-excerpt .wp-block-calendar #wp-calendar tfoot td a:hover,
.post-excerpt .wp-block-calendar #wp-calendar tfoot td a:focus {
    color: #d42929;
}

/* widget: rss */
.post-excerpt .wp-block-rss .wp-block-rss__item {
    margin: 0 0 10px;
}
.post-excerpt .wp-block-rss .wp-block-rss__item:last-child {
    margin-bottom: 0;
}
.post-excerpt .wp-block-rss .wp-block-rss__item-title a {
    font-weight: 700;
}
.post-excerpt .wp-block-rss .wp-block-rss__item-publish-date,
.post-excerpt .wp-block-rss .wp-block-rss__item-author {
    display: block;
    font-size: 12px;
    line-height: 1.7;
    color: #989ea6;
}
.post-excerpt .wp-block-rss .wp-block-rss__item-excerpt {
    font-size: 14px;
}
.post-excerpt .wp-block-rss.is-grid {
    list-style: none;
    margin-right: -30px;
    margin-bottom: 5px;
    padding: 0;
    overflow: hidden;
}
.post-excerpt .wp-block-rss.is-grid .wp-block-rss__item {
    margin-bottom: 15px;
    padding-right: 30px;
}

/* widget: search */
.post-excerpt .wp-block-search {
    margin: 0 0 20px;
}
.post-excerpt .wp-block-search:last-child {
    margin-bottom: 0;
}
.post-excerpt .wp-block-search .wp-block-search__input {
    width: auto;
    height: 47px;
}
.post-excerpt .wp-block-search .wp-block-search__button {
    margin-left: 14px;
    padding: 0 20px;
    height: 47px;
    line-height: 47px;
}

/* search form: placeholder */
/* Chrome/Opera/Safari */
.post-excerpt .wp-block-search .wp-block-search__input::-webkit-input-placeholder {
    color: #989ea6;
    opacity: 1;
}
/* Firefox 18- */
.post-excerpt .wp-block-search .wp-block-search__input:-moz-placeholder {
    color: #989ea6;
    opacity: 1;
}
/* Firefox 19+ */
.post-excerpt .wp-block-search .wp-block-search__input::-moz-placeholder {
    color: #989ea6;
    opacity: 1;
}
/* IE 10+ */
.post-excerpt .wp-block-search .wp-block-search__input:-ms-input-placeholder {
    color: #989ea6;
    opacity: 1;
}

/* widget: tag cloud */
.post-excerpt .wp-block-tag-cloud a {
    display: inline-block;
    text-decoration: none !important;
    margin-right: 5px;
}
.post-excerpt .wp-block-tag-cloud a:hover,
.post-excerpt .wp-block-tag-cloud a:focus,
.post-excerpt .wp-block-tag-cloud a:hover span,
.post-excerpt .wp-block-tag-cloud a:focus span {
    text-decoration: underline !important;
}
.post-excerpt .wp-block-tag-cloud a span {
    display: inline-block;
    margin-left: 5px;
}

/* media & text */
.post-excerpt .wp-block-media-text {
    margin-bottom: 15px;
}
.post-excerpt .wp-block-media-text .wp-block-media-text__media {
    padding-top: 5px;
    padding-bottom: 11px;
}

/* wide-images */
.post-excerpt .alignwide,
.post-excerpt .alignfull {
    margin-left: -30px !important;
    margin-right: -30px !important;
    width: auto;
    max-width: 100vw;
}
.post-excerpt .alignwide figcaption,
.post-excerpt .alignfull figcaption {
    padding-right: 30px !important;
    padding-left: 30px !important;
}

/* other wide elements */
.post-excerpt .wp-block-pullquote.alignwide,
.post-excerpt .wp-block-pullquote.alignfull {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.post-excerpt > .wp-block-pullquote.alignwide:first-child,
.post-excerpt > .wp-block-pullquote.alignfull:first-child {
    margin-top: 5px;
}
.post-excerpt .wp-block-table.alignwide,
.post-excerpt .wp-block-table.alignfull {
    margin-left: -32px !important;
    margin-right: -33px !important;
}
 
 .toggle-menu:focus-within{ 
    outline:thin dotted #fff !important}
@media screen and (max-width:576px){
	.header-top .right,.header-top .left{
		float:initial;
		text-align:center;
	}
	.header-top .right{
		margin-top:10px;
	}
}

.single .entry-content a{ text-decoration: underline; }